*{
    margin: 0;
    padding: 0;
}

#backgrnd{
    width: 100%;
    height: 100vh;
    background-image: url('backimg1.jpg');

    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-attachment: fixed; 
}
.text_ground .h4{
    text-align: center;
    background-attachment: relative;
    padding: auto;
}
.uuio{
    color: brown;
    text-align: center;
    text-decoration: wavy;
    text-size-adjust:calc();
}
#back2{
    width: 100%;
    height: 100vh;
    background-image: url('backimg2.jpg');

    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#text_ground{
    color: rgb(131, 10, 244);
}
